/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
    /* Primary Color */
    --primary-color: #135eaf;
  
    --background-color : #000000 ;
  
    /* Background */
    --white-color: #ffffff; 
  
    /* Accent Gray */
    --heading-text: #000;
  
    /* Text and Secondary Elements */
    --text-color: #333;
  
    /* Divider Lines */
  }
  
  
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navbar img {
    height: 60px;
}
.banner-image {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url('./images/explora2.jpg'); /* Cambia esto por la ruta a tu imagen de banner */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar button {
  background-color: #4CAF50; /* Color del botón */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.navbar button i  {
  margin-left: 8px;
}
  .lead{
    font-size: 1.3rem;
    font-weight: 200;
    font-family: "Poppins", Arial, sans-serif;
    color: #6c757d !important;
    margin-bottom: 0 !important;
  }
  .destino{
    font-family: "Arizonia", cursive;
    color: #135eaf;
    font-size: 4rem;
    margin-bottom: 0px !important;
  }
.Tours{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
  }
  .card-title{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .card-destination {
      border: none;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .card-destination img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .card-body {
      padding: 1.5rem;
    }
    .travel-place{
       color: inherit;
       text-decoration: none;
    }
    .card-body p {
      margin-bottom: 0.5rem;
      font-family: "Poppins", Arial, sans-serif;
    }
    .price {
      font-weight: bold;
      color: #135eaf;
      font-size: 1.7rem !important;
      font-family: "Poppins", Arial, sans-serif;
    }
    .time{
      font-size: 1.5rem !important;
    }
    .places{
      font-size: 1.2rem;
    }
    .btn-reservar {
      background-color: #135eaf;
      font-size: 1.5rem;
      color: white;
      font-weight: 600;
      font-family: "Poppins", Arial, sans-serif;
    }
    .mb-5{
      font-family: "Arizonia", cursive;
      font-size: 4rem;
      color: #135eaf;
      margin-bottom: 0px !important;
    }
    .service-card {
      text-align: center;

    }
    .service-icon {
      font-size: 4rem;
      color: #007bff;
      margin-bottom: 15px;
      padding: 20px;
      height: 90px;
    }
    .service-title {
      font-size: 1.4rem;
      margin-top: 15px;
      font-family: "Poppins", Arial, sans-serif;
    }
    .service-description {
      font-size: 1.2rem;
      color: #6c757d;
      font-family: "Poppins", Arial, sans-serif;
    }
    .serbi {
      height: 60px;
      width: auto;
      filter: invert(35%) sepia(80%) saturate(750%) hue-rotate(170deg) brightness(90%) contrast(90%);
    }
    .destiner{
      width: 90% !important;
    }
    .py-5{
      padding-top: 0rem !important;
      padding-bottom: 0px !important;
    }

    .footer {
      background-color: transparent;
      box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.047); /* Sombra superior */
      font-family: "Poppins", Arial, sans-serif;
      color: #2b2b2b;
      margin-top: 2.5rem;
      padding: 20px 0;
    }

    .footer a {
      color: #f39c12;
      text-decoration: none;
    }
    .footer .social-icons a {
      color: #2b2b2b;
      margin: 0 10px;
      font-size: 2.5rem;
      text-decoration: none;
    }
    .tik-tok{
      width: 2.5rem;
      height: auto;
    }
    .footer .social-icons a:hover {
      color: #f39c12;
    }
    .footer .contact-info i {
      font-size: 24px;
      margin-right: 10px;
      color: #2b2b2b;
    }
    .footer .footer-title {
      font-family: "Arizonia", cursive;
      font-size: 3rem;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .footer-column{
      text-align: center;
    }
    .footer .footer-link {
      color: #2b2b2b;
      display: block;
      margin-bottom: 10px;
    }
    .footer .footer-link:hover {
      color: #f39c12;
    }

    .copy{
      font-size: 1.5rem;
    }
    @media (max-width: 767px)
    {
      .banner-image{
        height: 50vh !important ;
      }
      .footer-column{
        width: 100%;
      }
      .navbar a .navbar button {
        font-size: 16px;
    }
    }
    @media (min-width: 768px) and (max-width: 1199px){
      .banner-image{
        height: 60vh !important ;
        background-image: url('./images/explora4.jpg');
        background-repeat: no-repeat;
      }
      .footer-column{
        margin: 0 auto;  
        }

    }
    @media (min-width: 1200px){
      .banner-image{
        height: 85vh !important ;
        background-image: url('./images/explora4.jpg');
        background-repeat: no-repeat;
      }
      .footer-column{
      margin: 0 auto;  
      }
    }
    

    